@import "./main";
@import "~bulma/bulma.sass";

body {
  background-color: $paper;
  color: white;
  text-align: center;
}
#Hero {
  background-image: url("./Addons/BG3.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
@font-face {
  font-family: "font";
  src: url("./Addons/BebasNeue-Regular.ttf");
}

#Login {
  font-family: font;
  font-size: 15px;
  background-color: transparent;
  margin-top: 50px;
  color: $coal;
  border: 2px solid $coal;
  border-radius: 5px;
  padding: 7px 30px;
}
#Login:hover {
  cursor: pointer;
  background-color: $bronze-color;
  opacity: 1;
}

#maintext {
  margin-top: 900px;
  margin-left: 50px;
  width: 50%;
  text-align: center;
  font-family: font;
  color: $coal;
  font-size: 20px;
}
.map {
  height: 400px;
  width: 100%;
}

h1 {
  color: $coal;
  font-family: font;
  font-size: 20px;
  padding: 20px;
}

.inputs {
  display: flex;
}
