$gold: #C0B283;

$bronze-color: #DcD0c0;

$paper: #f4f4f4;

$coal: #373737;

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", font;
$primary: $gold;
$link: $gold;
$link-hover: $gold;

