body {
    background-color:grey;
    color:white;
    text-align:center;
    background-image:url("BG2.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

@font-face {
    font-family: "font";
    src: url("./BebasNeue-Regular.ttf");
}

#Login {
    font-family:font;
    font-size: 15px;
    background-color: black;
    margin-top: 50px;
    color:white;
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 7px 30px;
    
}

#maintext {
    margin-top: 150px;
    width: 50%;
    text-align:center;
    font-family: font;
}